{% extends "_base.html" %}
{% block css %}
		{{ super() }}
		<link rel="stylesheet" href="css/TimeCircles.css" />
{%- endblock -%}

{% block content %}
				<div class="ui-widget">
					<label for="station_start">Train station start: </label>
					<input id="station_start">
				</div>

				<h2>Measure time</h2>
				<div id="DateCountdown" data-date="2016-04-11 00:00:00" style="width: 100%;"></div>
				<a href="#" class="ui-btn clr-primary" id="restart">Restart</a>	
{% endblock %}

{% block javascript %}
		{{ super() }}
		<script src="js/TimeCircles.js"></script>
		<script src="js/URI.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/sncfapi.js"></script>
{%- endblock %}
